/* ====================================
// css variables
// ==================================== */



/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}
 
.navcontainer {
  margin:  25px 10px px 10px;
}

.button-header {
  padding: 20px 5px 60px;
}

h1 {
  font-size: 30px;
  font-weight: lighter;
  padding-top: 60px;
  padding-bottom: 20px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 12px;
}

div p {
  font-size: 12px;
}

/* ====================================
// base rules
// ==================================== */


